@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}
#burguer{
    display: none;
    
 }
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
   background-color: black;
    
    align-items: center;
    justify-content: space-between;
   overflow: hidden;
}


/* PARTE MENU ↓↓ */
header{
    position: absolute;
    top: 10;
    left: 770px;
    width: 100%;
    padding: 15px 189px;
    display: block;
    justify-content: space-between;
    align-items: center;
    
}

#non{
    display: block;
}
#logo{
   display: block;
   width: 240px;
  position: absolute;
  
  left: 110px;
}

header #itens ul{
    position: relative;
      display: flex;
      right: 190px;
      left: 140px;
      top: 19px;
      bottom: 200px;
      list-style: none;
     
}
header #itens li a{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 25px;
    margin-left: 60px;
    margin-top: 10px;
    
   
    padding: 3px;
    text-align: center;
}

#itens li a:hover{
    background-color: #e51e2a;
    transform: translateY(-1);
    border-radius: 1px 7px;
    padding: 7px;
    transform: translate(-5px,-5px);
    box-shadow: 6px 6px 10px black;
    transition: transform .1s;
}

/*PARTE MENU ↑↑↑↑↑*/

/*PARTE DO CIRCULO ↓↓↓↓*/
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e51e2a;
    clip-path: circle(50% at bottom right);
  
}
/*PARTE DO CIRCULO ↑↑↑↑*/
.container .text {
    position: absolute;
    max-width: 600px;
    margin-right: 7px;
    padding-top: 100px;
    top: 100px;
    
    left: 30px;

}

.container .text h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700px;
}

.container .text h2 span{
    font-size: 3.5em;
    color: #e51e2a;
}

.container .text p{
    color: #fff;
    font-size: 1.4em;
}

.container .text a {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background-color: #e51e2a;
    color: #fff;
    font-weight: 500px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.2s ease;
}

.container .text a:hover{
    transform: translateY(-10px);
}

/*REDES SOCIAIS ↓↓↓↓*/
#icons{
    position: absolute;
    bottom: -850px;
    left: 00px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
   
}
#icons{
 position: relative;
  left: -830px;
}
#icons li{
    list-style: none;

}

#icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #222;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    
}

#icons li a:hover{
    background-color: #e51e2a;
    transform: translateY(-13);
    border: solid 1px rgb(8, 8, 8);
    transform: translate(-2px,-8px);
    box-shadow: 6px 6px 10px black;
    transition: transform .2s;
}

#icons li a img{
    transform: scale(0.5);
    filter: invert(1);
}
/*REDES SOCIAIS ↑↑↑↑*/

/*imagens da coca do site  ↓↓↓↓*/

.boximg {
    position: absolute;
    right: 0;
    bottom: -40px;
}
.boximg img{
    width: 180px;
}
.boximg .img1{
    transform: rotate(-15deg);
}

.boximg .img2{
    transform: rotate(5deg);
}

.boximg .img3{
    transform: rotate(15deg);
}

.boximg .img4{
    transform: rotate(-15deg);
}